# Object files
*.o
*.ko
*.obj
*.elf

#My test client
bin
powermate_client

#autom4te
autom4te.cache 

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

#Ceedling
build

#Handy files not part of this project
resources
